.sub{
    background-color: rgba(196,0,4,255);
    color:white;
    margin: 10px;
    padding: 15px;
    border:none;
    width: 100;
    cursor: pointer;
}
.join{
    background-color: white;
    color:#20497e;
    margin: 10px;
    padding: 15px;
    border-color:#20497e;
    cursor: pointer;

}
.tweet{
    background-color: rgba(22,145,241,255);
    color:white;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    font-weight: bold;
    width: 90;

}